<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.DicTypeMapper">
	<resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.DicType">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="dicTypeKey" property="dicTypeKey" jdbcType="VARCHAR" />
		<result column="dicTypeName" property="dicTypeName" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		dicTypeKey,
		dicTypeName,
		description
	</sql>
	<select id="isExist" resultType="DicType" parameterType="DicType">
		SELECT
		<include refid="Base_Column_List" />
		FROM it_dic_type
		WHERE dicTypeKey = #{dicTypeKey}
	</select>
	<select id="query" resultType="DicType" parameterType="java.util.HashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM it_dic_type
		<where>
			<if test="t.dicTypeName != null and t.dicTypeName != ''">
				AND dicTypeName LIKE '%${t.dicTypeName}%' 
			</if>
			<if test="t.dicTypeKey != null and t.dicTypeKey != ''">
				AND dicTypeKey LIKE '%${t.dicTypeKey}%'
			</if>
		</where>
	</select>
	<select id="queryAll" resultType="DicType" parameterType="java.util.HashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM dic_type WHERE 1=1
	</select>
	<select id="selectAll" resultType="DicType">
		SELECT
		<include refid="Base_Column_List" />
		FROM it_dic_type WHERE 1=1
	</select>
	<select id="queryById" resultType="DicType" parameterType="java.util.HashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM IT_DIC_TYPE 
		WHERE id = #{id}
	</select>
	<update id="updatePreset" parameterType="DicType">>
		UPDATE it_dic_type
		SET dicTypeName = #{dicTypeName}
		WHERE dicType = #{dicType} 
		AND dicTypeKey = #{dicTypeKey}
	</update>
	<update id="logicalDelete" parameterType="String">
		UPDATE it_dic_type 
		SET deletestatus = 1
		WHERE id = #{id}
	</update>

	<!-- 自动生成的代码 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM it_dic_type
		WHERE id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM
		it_dic_type
		WHERE id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.zdhy.platform.itsm.entity.DicType">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT replace(uuid(),'-','') FROM dual
		</selectKey>
		INSERT INTO it_dic_type (id, dicTypeKey, dicTypeName, description)
		VALUES (#{id,jdbcType=VARCHAR},
		#{dicTypeKey,jdbcType=VARCHAR},
		#{dicTypeName,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.DicType">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT replace(uuid(),'-','') FROM dual
		</selectKey>
		INSERT INTO it_dic_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="dicTypeKey != null">
				dicTypeKey,
			</if>
			<if test="dicTypeName != null">
				dicTypeName,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="dicTypeKey != null">
				#{dicTypeKey,jdbcType=VARCHAR},
			</if>
			<if test="dicTypeName != null">
				#{dicTypeName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.DicType">
		UPDATE it_dic_type
		<set>
			<if test="dicTypeKey != null">
				dicTypeKey = #{dicTypeKey,jdbcType=VARCHAR},
			</if>
			<if test="dicTypeName != null">
				dicTypeName = #{dicTypeName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.DicType">
		UPDATE it_dic_type
		SET dicTypeKey = #{dicTypeKey,jdbcType=VARCHAR},
			dicTypeName = #{dicTypeName,jdbcType=VARCHAR},
			description = #{description,jdbcType=VARCHAR}
		WHERE id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>