<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.HomeContentMapper" >
	<resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.HomeContent">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="hps_id" property="hpsId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="INTEGER" />
		<result column="des" property="des" jdbcType="VARCHAR" />
		<association property="homeTitle" javaType="HomeTitle">
			<id column="id" property="id" jdbcType="VARCHAR" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="model_path" property="modelPath" jdbcType="VARCHAR" />
			<result column="priority" property="priority" jdbcType="INTEGER" />
			<result column="des" property="des" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
	
  <sql id="Base_Column_List" >
    id, hps_id, name, url, priority, des
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_home_page_set_content
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKeyCascade" resultMap="BaseResultMap" parameterType="java.lang.String" >
	SELECT * 
	FROM it_home_page_set_content hc
	LEFT JOIN it_home_page_set_title ht ON hc.hps_id = ht.id 
	WHERE hc.id = #{id,jdbcType=VARCHAR}    
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from it_home_page_set_content
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_home_page_set_content
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.HomeContent" >
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_home_page_set_content (id, hps_id, name, 
      url, priority, des
      )
    values (#{id,jdbcType=VARCHAR}, #{hpsId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{des,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.HomeContent" >
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_home_page_set_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hpsId != null" >
        hps_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="des != null" >
        des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hpsId != null" >
        #{hpsId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.HomeContent" >
    update it_home_page_set_content
    <set >
      <if test="hpsId != null" >
        hps_id = #{hpsId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.HomeContent" >
    update it_home_page_set_content
    set hps_id = #{hpsId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      des = #{des,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据标题id查询内容 -->
  <select id="selectContentListByTitleId" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
    <include refid="Base_Column_List" />
    from it_home_page_set_content
  	where hps_id=#{hpsId,jdbcType=VARCHAR}
  </select>
  
</mapper>