<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.InsteadMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.Instead" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="old_staff" property="oldStaff" jdbcType="VARCHAR" />
    <result column="instead_staff" property="insteadStaff" jdbcType="VARCHAR" />
    <result column="instead_shift" property="insteadShift" jdbcType="VARCHAR" />
    <result column="instead_date" property="insteadDate" jdbcType="TIMESTAMP" />
    <result column="instead_reason" property="insteadReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, old_staff oldStaff, instead_staff insteadStaff, instead_shift insteadShift,
     instead_date insteadDate, instead_reason insteadReason
  </sql>
  <select id="query"  resultType="Instead" parameterType="java.util.HashMap">
  select <include refid="Base_Column_List" />
  from it_instead
  	<where>
  		<if test="staff != null and staff != ''">
			AND (old_staff like '%${staff}%'
		</if>
		<if test="staff != null and staff != ''">
			OR instead_staff like '%${staff}%')
		</if>
		<if test="insteadShift != null and insteadShift != ''">
			AND instead_shift like '%${insteadShift}%'
		</if>
		<if test="endDate != null and endDate != ''">
			AND instead_date &lt;= #{endDate} 
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND instead_date &gt;= #{beginDate} 
		</if>
	</where>
  </select>
  <select id="queryMyInstead"  resultType="Instead" parameterType="java.util.HashMap">
  select <include refid="Base_Column_List" />
  from it_instead
  	<where>
  		old_staff = #{staff,jdbcType=VARCHAR} 
		<if test="insteadShift != null and insteadShift != ''">
			AND instead_shift like '%${insteadShift}%'
		</if>
		<if test="endDate != null and endDate != ''">
			AND instead_date &lt;= #{endDate} 
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND instead_date &gt;= #{beginDate} 
		</if>
	</where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_instead
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from it_instead
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_instead
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.Instead" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_instead (id, old_staff, instead_staff, 
      instead_shift, instead_date, instead_reason
      )
    values (#{id,jdbcType=VARCHAR}, #{oldStaff,jdbcType=VARCHAR}, #{insteadStaff,jdbcType=VARCHAR}, 
      #{insteadShift,jdbcType=VARCHAR}, #{insteadDate,jdbcType=TIMESTAMP}, #{insteadReason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.Instead" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_instead
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oldStaff != null" >
        old_staff,
      </if>
      <if test="insteadStaff != null" >
        instead_staff,
      </if>
      <if test="insteadShift != null" >
        instead_shift,
      </if>
      <if test="insteadDate != null" >
        instead_date,
      </if>
      <if test="insteadReason != null" >
        instead_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="oldStaff != null" >
        #{oldStaff,jdbcType=VARCHAR},
      </if>
      <if test="insteadStaff != null" >
        #{insteadStaff,jdbcType=VARCHAR},
      </if>
      <if test="insteadShift != null" >
        #{insteadShift,jdbcType=VARCHAR},
      </if>
      <if test="insteadDate != null" >
        #{insteadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insteadReason != null" >
        #{insteadReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.Instead" >
    update it_instead
    <set >
      <if test="oldStaff != null" >
        old_staff = #{oldStaff,jdbcType=VARCHAR},
      </if>
      <if test="insteadStaff != null" >
        instead_staff = #{insteadStaff,jdbcType=VARCHAR},
      </if>
      <if test="insteadShift != null" >
        instead_shift = #{insteadShift,jdbcType=VARCHAR},
      </if>
      <if test="insteadDate != null" >
        instead_date = #{insteadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insteadReason != null" >
        instead_reason = #{insteadReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.Instead" >
    update it_instead
    set old_staff = #{oldStaff,jdbcType=VARCHAR},
      instead_staff = #{insteadStaff,jdbcType=VARCHAR},
      instead_shift = #{insteadShift,jdbcType=VARCHAR},
      instead_date = #{insteadDate,jdbcType=TIMESTAMP},
      instead_reason = #{insteadReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>