<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.LogbookMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.Logbook" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="staff" property="staff" jdbcType="VARCHAR" />
    <result column="shift" property="shift" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, staff, shift, position, create_time createTime, content, staff_id staffId
  </sql>
  <select id="query" resultType="Logbook" parameterType="java.util.HashMap">
  select <include refid="Base_Column_List" />
  from it_logbook
  	<where>
		<if test="staff != null and staff != ''">
			AND staff like '%${staff}%'
		</if>
		<if test="shift != null and shift != ''">
			AND shift like '%${shift}%'
		</if>
		<if test="endDate != null and endDate != ''">
			AND create_time &lt;= #{endDate} 
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND create_time &gt;= #{beginDate} 
		</if>
	</where>
  </select>
  <select id="queryMyLogbook" resultType="Logbook" parameterType="java.util.HashMap">
  select <include refid="Base_Column_List" />
  from it_logbook
  	<where>
		staff = #{staff,jdbcType=VARCHAR}
		<if test="shift != null and shift != ''">
			AND shift like '%${shift}%'
		</if>
		<if test="endDate != null and endDate != ''">
			AND create_time &lt;= #{endDate} 
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND create_time &gt;= #{beginDate} 
		</if>
	</where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_logbook
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from it_logbook
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_logbook
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.Logbook" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_logbook (id, staff, shift, 
      position, create_time, content, 
      staff_id)
    values (#{id,jdbcType=VARCHAR}, #{staff,jdbcType=VARCHAR}, #{shift,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.Logbook" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_logbook
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="staff != null" >
        staff,
      </if>
      <if test="shift != null" >
        shift,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="staff != null" >
        #{staff,jdbcType=VARCHAR},
      </if>
      <if test="shift != null" >
        #{shift,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.Logbook" >
    update it_logbook
    <set >
      <if test="staff != null" >
        staff = #{staff,jdbcType=VARCHAR},
      </if>
      <if test="shift != null" >
        shift = #{shift,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.Logbook" >
    update it_logbook
    set staff = #{staff,jdbcType=VARCHAR},
      shift = #{shift,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>