<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.Order" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="build_date" property="buildDate" jdbcType="TIMESTAMP" />
    <result column="order_title" property="orderTitle" jdbcType="VARCHAR" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="builder" property="builder" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_type, order_number, build_date, order_title,applicant,builder,order_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from it_order
  </select>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.Order" >
    insert into it_order (id, order_type, order_number, 
      build_date, order_title, applicant, 
      builder, order_status)
    values (#{id,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{orderNumber,jdbcType=INTEGER}, 
      #{buildDate,jdbcType=TIMESTAMP}, #{orderTitle,jdbcType=VARCHAR}, #{applicant,jdbcType=VARCHAR}, 
      #{builder,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.Order" >
    insert into it_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="buildDate != null" >
        build_date,
      </if>
      <if test="orderTitle != null" >
        order_title,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="builder != null" >
        builder,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="buildDate != null" >
        #{buildDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTitle != null" >
        #{orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="builder != null" >
        #{builder,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.Order" >
    update it_order
    <set >
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="buildDate != null" >
        build_date = #{buildDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTitle != null" >
        order_title = #{orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="builder != null" >
        builder = #{builder,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.Order" >
    update it_order
    set order_type = #{orderType,jdbcType=VARCHAR},
        order_number = #{orderNumber,jdbcType=INTEGER},
		build_date = #{buildDate,jdbcType=TIMESTAMP},
     	order_title = #{orderTitle,jdbcType=VARCHAR},
     	applicant = #{applicant,jdbcType=VARCHAR},
     	builder = #{builder,jdbcType=VARCHAR},
      	order_status = #{orderStatus,jdbcType=VARCHAR},
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>