<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.PollingSubitemMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.PollingSubitem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_auto" property="isAuto" jdbcType="INTEGER" />
    <result column="input_type" property="inputType" jdbcType="INTEGER" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="max_length" property="maxLength" jdbcType="VARCHAR" />
    <result column="default_value" property="defaultValue" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="data_source" property="dataSource" jdbcType="VARCHAR" />
    <result column="data_dictionary" property="dataDictionary" jdbcType="VARCHAR" />
    <result column="config_item_repo" property="configItemRepo" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zdhy.platform.itsm.entity.PollingSubitem" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, is_auto, input_type, data_type, max_length, default_value, 
    priority, data_source, data_dictionary, config_item_repo, project_id
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from it_polling_subitem
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from it_polling_subitem
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_polling_subitem 
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 批删 -->
  <delete id="deleteByIds">
  	delete from it_polling_subitem
    WHERE id IN 
       <foreach collection="array" item="id" index="index" open="(" separator="," close=")">
        	#{id} 
       </foreach>
  </delete>
  <!-- 根据项目id删除 -->
  <delete id="deleteByProjectId" parameterType="java.lang.String" >
    delete from it_polling_subitem 
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>
  <!-- 根据模板id删除 -->
  <delete id="deleteByTemplateIds" parameterType="java.lang.String" >
    delete from it_polling_subitem 
    where project_id in  
    ( select id from it_polling_project where template_id 
    in
    <foreach collection="array" item="templateId" index="index" open="(" separator="," close=")">
     	#{templateId} 
    </foreach> 
    )
    </delete>
  <!-- 根据项目id数组删除 -->
  <delete id="deleteByProjectIds" parameterType="java.lang.String" >
    delete from it_polling_subitem 
    where project_id in  
    <foreach collection="array" item="projectId" index="index" open="(" separator="," close=")">
     	#{projectId} 
    </foreach> 
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.PollingSubitem" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_polling_subitem (id, name, is_auto, 
      input_type, data_type, max_length, 
      default_value,priority, data_source, data_dictionary, 
      config_item_repo, project_id, description
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{isAuto,jdbcType=INTEGER}, 
      #{inputType,jdbcType=INTEGER}, #{dataType,jdbcType=INTEGER}, #{maxLength,jdbcType=VARCHAR}, 
      #{defaultValue,jdbcType=VARCHAR},#{priority,jdbcType=INTEGER}, #{dataSource,jdbcType=VARCHAR}, #{dataDictionary,jdbcType=VARCHAR}, 
      #{configItemRepo,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.PollingSubitem" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_polling_subitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isAuto != null" >
        is_auto,
      </if>
      <if test="inputType != null" >
        input_type,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="maxLength != null" >
        max_length,
      </if>
      <if test="defaultValue != null" >
        default_value,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="dataSource != null" >
        data_source,
      </if>
      <if test="dataDictionary != null" >
        data_dictionary,
      </if>
      <if test="configItemRepo != null" >
        config_item_repo,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isAuto != null" >
        #{isAuto,jdbcType=INTEGER},
      </if>
      <if test="inputType != null" >
        #{inputType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null" >
        #{maxLength,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="dataSource != null" >
        #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="dataDictionary != null" >
        #{dataDictionary,jdbcType=VARCHAR},
      </if>
      <if test="configItemRepo != null" >
        #{configItemRepo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.PollingSubitem" >
    update it_polling_subitem
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isAuto != null" >
        is_auto = #{isAuto,jdbcType=INTEGER},
      </if>
      <if test="inputType != null" >
        input_type = #{inputType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null" >
        max_length = #{maxLength,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        default_value = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="dataSource != null" >
        data_source = #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="dataDictionary != null" >
        data_dictionary = #{dataDictionary,jdbcType=VARCHAR},
      </if>
      <if test="configItemRepo != null" >
        config_item_repo = #{configItemRepo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zdhy.platform.itsm.entity.PollingSubitem" >
    update it_polling_subitem
    set name = #{name,jdbcType=VARCHAR},
      is_auto = #{isAuto,jdbcType=INTEGER},
      input_type = #{inputType,jdbcType=INTEGER},
      data_type = #{dataType,jdbcType=INTEGER},
      max_length = #{maxLength,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      data_source = #{dataSource,jdbcType=VARCHAR},
      data_dictionary = #{dataDictionary,jdbcType=VARCHAR},
      config_item_repo = #{configItemRepo,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update> -->
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.PollingSubitem" >
    update it_polling_subitem
    set name = #{name,jdbcType=VARCHAR},
      is_auto = #{isAuto,jdbcType=INTEGER},
      input_type = #{inputType,jdbcType=INTEGER},
      data_type = #{dataType,jdbcType=INTEGER},
      max_length = #{maxLength,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      data_source = #{dataSource,jdbcType=VARCHAR},
      data_dictionary = #{dataDictionary,jdbcType=VARCHAR},
      config_item_repo = #{configItemRepo,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>