<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.PollingObjectPlanMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.PollingObjectPlan" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, plan_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_polling_object_plan
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByObjectId" parameterType="java.lang.String" resultType="java.lang.String">
  	select plan_id planId 
  	from it_polling_object_plan 
  	where object_id=#{objectId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from it_polling_object_plan
  </select>
  
  <!-- 根据巡检计划id删除 -->
  <delete id="deleteByPlanId">
  delete from it_polling_object_plan
  where plan_id = #{planId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_polling_object_plan
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.PollingObjectPlan" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_polling_object_plan (id, object_id, plan_id
      )
    values (#{id,jdbcType=VARCHAR}, #{objectId,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.PollingObjectPlan" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_polling_object_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.PollingObjectPlan" >
    update it_polling_object_plan
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.PollingObjectPlan" >
    update it_polling_object_plan
    set object_id = #{objectId,jdbcType=VARCHAR},
      plan_id = #{planId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>