<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.PollingProjectMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.PollingProject" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zdhy.platform.itsm.entity.PollingProject" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap type="com.zdhy.platform.itsm.entity.PollingProject" id="CascadeResultMap" extends="ResultMapWithBLOBs">
		<collection property="pollingSubitems" column="project_id"  ofType="PollingSubitem">
			<id column="subitem_id" property="id" jdbcType="VARCHAR" />
			<result column="name" property="name" jdbcType="VARCHAR" />
		    <result column="is_auto" property="isAuto" jdbcType="INTEGER" />
		    <result column="input_type" property="inputType" jdbcType="INTEGER" />
		    <result column="data_type" property="dataType" jdbcType="INTEGER" />
		    <result column="max_length" property="maxLength" jdbcType="VARCHAR" />
		    <result column="default_value" property="defaultValue" jdbcType="VARCHAR" />
		    <result column="priority" property="priority" jdbcType="INTEGER" />
		    <result column="data_source" property="dataSource" jdbcType="VARCHAR" />
		    <result column="data_dictionary" property="dataDictionary" jdbcType="VARCHAR" />
		    <result column="config_item_repo" property="configItemRepo" jdbcType="VARCHAR" />
		    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
  <sql id="Base_Column_List" >
    id, name, priority, template_id
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from it_polling_project
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByName" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from it_polling_project
    where name = #{name,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据项目名称和模板id查询巡检项目 -->
  <select id="selectByNameAndTemplateId" resultMap="ResultMapWithBLOBs" parameterType="java.util.HashMap">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from it_polling_project
    where name = #{0} and 
    template_id = #{1}
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from it_polling_project
  </select>
  
  <!-- 根据巡检项目id查询相应巡检子项 -->
  <select id="selectSubitemListByProjectId" parameterType="java.lang.String" resultMap="CascadeResultMap">
  select pp.id, pp.name, pp.priority,pp.description,
  ps.id subitem_id, ps.name, 
  ps.input_type, ps.data_type, ps.max_length, 
  ps.default_value,ps.priority,  ps.data_dictionary, 
  ps.config_item_repo, ps.project_id, ps.description
  from it_polling_project pp
  left join it_polling_subitem ps on ps.project_id = pp.id
  where pp.id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 批删 -->
  <delete id="deleteByIds">
  	delete from it_polling_project
    WHERE id IN 
       <foreach collection="array" item="id" index="index" open="(" separator="," close=")">
        	#{id} 
       </foreach>
  </delete>
  
  <!-- 根据模板id批删  -->
  <delete id="deleteByTemplateIds" parameterType="java.lang.String" >
    delete from it_polling_project 
    where template_id in 
    <foreach collection="array" item="templateId" index="index" open="(" separator="," close=")">
     	#{templateId} 
    </foreach>
    
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_polling_project  
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.PollingProject" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_polling_project (id, name, priority, 
      template_id, description)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, 
      #{templateId,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.PollingProject" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_polling_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.PollingProject" >
    update it_polling_project
    <set >
      <if test="name != null and name != ''" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zdhy.platform.itsm.entity.PollingProject" >
    update it_polling_project
    set name = #{name,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.PollingProject" >
    update it_polling_project
    set name = #{name,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>