<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.ServiceRelationMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.ServiceRelation" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="technology_id" property="technologyId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, service_id, technology_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_service_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from it_service_relation
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_service_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.ServiceRelation" >
    insert into it_service_relation (id, service_id, technology_id
      )
    values (#{id,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, #{technologyId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.ServiceRelation" >
    insert into it_service_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="technologyId != null" >
        technology_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="technologyId != null" >
        #{technologyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.ServiceRelation" >
    update it_service_relation
    <set >
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="technologyId != null" >
        technology_id = #{technologyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.ServiceRelation" >
    update it_service_relation
    set service_id = #{serviceId,jdbcType=VARCHAR},
      technology_id = #{technologyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>