<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.ServiceItemMapper">
	<resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.ServiceItem">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="service_type" property="serviceType" jdbcType="VARCHAR" />
		<result column="service_process" property="serviceProcess"
			jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="feedback_set_auto" property="feedbackSetAuto"
			jdbcType="INTEGER" />
		<result column="feedback_set_day" property="feedbackSetDay"
			jdbcType="INTEGER" />
		<result column="feedback_set_hour" property="feedbackSetHour"
			jdbcType="INTEGER" />
		<result column="feedback_set_min" property="feedbackSetMin"
			jdbcType="INTEGER" />
		<result column="feedback_set_satisfaction" property="feedbackSetSatisfaction"
			jdbcType="INTEGER" />
		<result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
		<result column="processer_category" property="processerCategory"
			jdbcType="INTEGER" />
		<result column="support_user_name" property="supportUserName"
			jdbcType="VARCHAR" />
		<result column="business_id" property="businessId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, number, service_type, service_process, description,
		feedback_set_auto,
		feedback_set_day, feedback_set_hour, feedback_set_min, feedback_set_satisfaction,
		sys_user_id, processer_category, support_user_name, business_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from it_service_item
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from it_service_item
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from it_service_item
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.zdhy.platform.itsm.entity.ServiceItem">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT replace(uuid(),'-','') FROM dual
		</selectKey>
		insert into it_service_item (id, name, number,
		service_type, service_process, description,
		feedback_set_auto, feedback_set_day, feedback_set_hour,
		feedback_set_min, feedback_set_satisfaction,
		sys_user_id, processer_category, support_user_name,
		business_id)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{number,jdbcType=VARCHAR},
		#{serviceType,jdbcType=VARCHAR}, #{serviceProcess,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{feedbackSetAuto,jdbcType=INTEGER},
		#{feedbackSetDay,jdbcType=INTEGER},
		#{feedbackSetHour,jdbcType=INTEGER},
		#{feedbackSetMin,jdbcType=INTEGER},
		#{feedbackSetSatisfaction,jdbcType=INTEGER},
		#{sysUserId,jdbcType=VARCHAR}, #{processerCategory,jdbcType=INTEGER},
		#{supportUserName,jdbcType=VARCHAR},
		#{businessId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.ServiceItem">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT replace(uuid(),'-','') FROM dual
		</selectKey>
		insert into it_service_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="serviceType != null">
				service_type,
			</if>
			<if test="serviceProcess != null">
				service_process,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="feedbackSetAuto != null">
				feedback_set_auto,
			</if>
			<if test="feedbackSetDay != null">
				feedback_set_day,
			</if>
			<if test="feedbackSetHour != null">
				feedback_set_hour,
			</if>
			<if test="feedbackSetMin != null">
				feedback_set_min,
			</if>
			<if test="feedbackSetSatisfaction != null">
				feedback_set_satisfaction,
			</if>
			<if test="sysUserId != null">
				sys_user_id,
			</if>
			<if test="processerCategory != null">
				processer_category,
			</if>
			<if test="supportUserName != null">
				support_user_name,
			</if>
			<if test="businessId != null">
				business_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=VARCHAR},
			</if>
			<if test="serviceType != null">
				#{serviceType,jdbcType=VARCHAR},
			</if>
			<if test="serviceProcess != null">
				#{serviceProcess,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="feedbackSetAuto != null">
				#{feedbackSetAuto,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetDay != null">
				#{feedbackSetDay,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetHour != null">
				#{feedbackSetHour,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetMin != null">
				#{feedbackSetMin,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetSatisfaction != null">
				#{feedbackSetSatisfaction,jdbcType=INTEGER},
			</if>
			<if test="sysUserId != null">
				#{sysUserId,jdbcType=VARCHAR},
			</if>
			<if test="processerCategory != null">
				#{processerCategory,jdbcType=INTEGER},
			</if>
			<if test="supportUserName != null">
				#{supportUserName,jdbcType=VARCHAR},
			</if>
			<if test="businessId != null">
				#{businessId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.ServiceItem">
		update it_service_item
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="serviceType != null">
				service_type = #{serviceType,jdbcType=VARCHAR},
			</if>
			<if test="serviceProcess != null">
				service_process = #{serviceProcess,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="feedbackSetAuto != null">
				feedback_set_auto = #{feedbackSetAuto,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetDay != null">
				feedback_set_day = #{feedbackSetDay,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetHour != null">
				feedback_set_hour = #{feedbackSetHour,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetMin != null">
				feedback_set_min = #{feedbackSetMin,jdbcType=INTEGER},
			</if>
			<if test="feedbackSetSatisfaction != null">
				feedback_set_satisfaction =
				#{feedbackSetSatisfaction,jdbcType=INTEGER},
			</if>
			<if test="sysUserId != null">
				sys_user_id = #{sysUserId,jdbcType=VARCHAR},
			</if>
			<if test="processerCategory != null">
				processer_category = #{processerCategory,jdbcType=INTEGER},
			</if>
			<if test="supportUserName != null">
				support_user_name = #{supportUserName,jdbcType=VARCHAR},
			</if>
			<if test="businessId != null">
				business_id = #{businessId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.ServiceItem">
		update it_service_item
		set name = #{name,jdbcType=VARCHAR},
		number = #{number,jdbcType=VARCHAR},
		service_type = #{serviceType,jdbcType=VARCHAR},
		service_process = #{serviceProcess,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		feedback_set_auto = #{feedbackSetAuto,jdbcType=INTEGER},
		feedback_set_day = #{feedbackSetDay,jdbcType=INTEGER},
		feedback_set_hour = #{feedbackSetHour,jdbcType=INTEGER},
		feedback_set_min = #{feedbackSetMin,jdbcType=INTEGER},
		feedback_set_satisfaction = #{feedbackSetSatisfaction,jdbcType=INTEGER},
		sys_user_id = #{sysUserId,jdbcType=VARCHAR},
		processer_category = #{processerCategory,jdbcType=INTEGER},
		support_user_name = #{supportUserName,jdbcType=VARCHAR},
		business_id = #{businessId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>