<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.ShiftMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.Shift" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap type="com.zdhy.platform.itsm.entity.Shift" id="CascadeResultMap" extends="BaseResultMap">
		<collection property="schedulings" column="shift_id"  ofType="Scheduling">
			<id column="scheduling_id" property="id" jdbcType="VARCHAR" />
			<result column="shift_id" property="shiftId" jdbcType="VARCHAR" />
    		<result column="position" property="position" jdbcType="INTEGER" />
		</collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, color,begin_time,end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_shift
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from it_shift
  </select>
  <!-- 根据班次id查询排班 -->
  <select id="selectSchedulingsByShiftId" parameterType="java.lang.String" resultMap="CascadeResultMap">
  select shift.id, shift.name, shift.color,shift.begin_time,shift.end_time,
  scheduling.id scheduling_id, scheduling.shift_id, scheduling.position
  from it_shift shift
  left join it_scheduling scheduling on scheduling.shift_id = shift.id
  where shift.id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_shift
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.Shift" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_shift (id, name, color,begin_time,end_time
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.Shift" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>
    insert into it_shift_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.Shift" >
    update it_shift
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.Shift" >
    update it_shift
    set name = #{name,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据班次id查询排班 -->
  <!-- <select id="selectSchedulingsByShiftId" parameterType="java.lang.String" resultType="com.zdhy.platform.itsm.entity.Scheduling">
  	select id,shift_id shiftId,position 
  	from it_scheduling
  	where shift_id = #{shiftId,jdbcType=VARCHAR}
  </select> -->
</mapper>