<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdhy.platform.itsm.dao.WorkbenchLayoutMapper" >
  <resultMap id="BaseResultMap" type="com.zdhy.platform.itsm.entity.WorkbenchLayout" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="model_path" property="modelPath" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, thumbnail, model_path, priority
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from it_workbench_layout
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from it_workbench_layout
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from it_workbench_layout
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zdhy.platform.itsm.entity.WorkbenchLayout" >
    insert into it_workbench_layout (id, thumbnail, model_path, 
      priority)
    values (#{id,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, #{modelPath,jdbcType=VARCHAR}, 
      #{priority,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zdhy.platform.itsm.entity.WorkbenchLayout" >
    insert into it_workbench_layout
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="modelPath != null" >
        model_path,
      </if>
      <if test="priority != null" >
        priority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="modelPath != null" >
        #{modelPath,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdhy.platform.itsm.entity.WorkbenchLayout" >
    update it_workbench_layout
    <set >
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="modelPath != null" >
        model_path = #{modelPath,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdhy.platform.itsm.entity.WorkbenchLayout" >
    update it_workbench_layout
    set thumbnail = #{thumbnail,jdbcType=VARCHAR},
      model_path = #{modelPath,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>