<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_PATH" value="D:/logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] --%mdc{client} %msg%n</Pattern>  
        </encoder>  
    </appender>  
    
     <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/info.%d{yyyy-MM-dd}.log</FileNamePattern>  
        </rollingPolicy>  
        <layout>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>  
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
            <level>INFO</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
           </filter>     
    </appender>  
    
      <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/debug.%d{yyyy-MM-dd}.log</FileNamePattern>  
        </rollingPolicy>  
        <layout>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>  
        </layout> 
         <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
            <level>DEBUG</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
           </filter>   
    </appender>  
    
     <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/warn.%d{yyyy-MM-dd}.log</FileNamePattern>  
        </rollingPolicy>  
        <layout>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>  
        </layout> 
         <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
            <level>WARN</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
           </filter>   
    </appender>  
    
     <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/error.%d{yyyy-MM-dd}.log</FileNamePattern>  
        </rollingPolicy>  
        <layout>  
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>  
        </layout> 
         <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
           </filter>   
    </appender>  
    <!-- 行为日志加载 -->
    <appender name="BEHAVIOR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${LOG_PATH}/behavior/behavior.%d{yyyy-MM 'Week' W}.log</FileNamePattern>  
        </rollingPolicy>  
        <layout>  
            <pattern>%msg%n</pattern>  
        </layout> 
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>INFO</level>  
        </filter>  
    </appender>
    <logger name="BEHAVIOR_FILE" additivity="false" level="INFO">
    	<appender-ref ref="BEHAVIOR_FILE"/>
    </logger>
    <logger name="org.springframework" additivity="false" level="ERROR"/>
    <root level="INFO">  
        <appender-ref ref="STDOUT"/>  
        <appender-ref ref="INFO_FILE" />  
        <appender-ref ref="DEBUG_FILE" />  
        <appender-ref ref="WARN_FILE" />  
        <appender-ref ref="ERROR_FILE" />   
    </root>  
</configuration>  